.jumbotron {
    padding: 4rem 2rem;
    margin-top: 20px;
}

.bg-faded {
    background-color: rgb(27, 27, 27);
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    color: rgb(89, 168, 255);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
    color: rgb(89, 168, 255);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(89, 168, 255);
}

.navbar {
    text-transform: uppercase;
}

.navbar-brand {
	display: inline-block;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 9.25rem;
    margin-right: 1rem;
    font-size: 28px;
    line-height: inherit;
    white-space: nowrap;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}